.container {
    width: 1200px;
}

.content-column {
    margin-top: 40px;
}

.banner-header {
    background-image: url('../img/LeagueStatsBanner.png');
    height: 250px;
    margin: 0 0 15px 0;
}

.input-box {
    width: 275px;
}

.side-input-container {
    padding: 3px 0 3px 0;
    margin: 0;
    text-align: center;
    background: white;
}

.side-input-link .side-input-container {
    text-decoration: none;
    font-weight: bold;
}

.side-input-link .side-input-container:hover,
.side-input-link .side-input-container.active {
    background: #e6f3ff;
}

.side-input-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.report-option {
    cursor: pointer;
}

.champ-table {
    width: 770px;
    height: 500px;
    overflow: auto;
}

.champ-name {
    width: 70%;
}

.champ-value {
    width: 15%;
}

.missing-champ {
    text-align: center;
    width: 780px;
    font-size: 23px;
}