<div class="container" ng-controller = "StatsController">
    <div class="row">
        <div class="col-lg-2">
            <a class="side-input-link" ng-click="queryForSummonerMatches(summoner)" ng-repeat="summoner in summoner_names | toArray | orderBy : 'name'" >
                <div class="side-input-container" data-ng-click="sortCategory(summoner.name)" ng-class="{'active' : isActive(summoner.name)}">
                    <h4 class="report-option">
                        {{ summoner.name }}
                    </h4>
                </div>
            </a>
        </div>

        <div class="col-lg-6">
            <div ng-if="champ_summary.length != 0" class="champ-table">
                <table class="table">
                    <tr>
                        <th>Champion</th>
                        <th>Games Played</th>
                        <th>Average KDA</th>
                    </tr>
                    <tr ng-repeat="champ in champ_summary | toArray | orderBy : '-kda'">
                        <td class="champ-name">
                            <img style="height: 40px; width: 40px;"ng-src="{{champ.image_url}}" />
                            {{champ.name}}: {{champ.title}}
                        </td>
                        <td class="champ-value">{{champ.times_played}}</td>
                        <td class="champ-value">{{champ.kda}}</td>
                    </tr>
                </table>
            </div>
            <div ng-if="champ_summary.length == 0 && clicked" class="missing-champ">
                No ranked games available for this summoner
            </div>
        </div>
    </div>
</div>