<div class="container" ng-controller = "StatsController">
    <div>
        Summoner Name:  <input type="text" ng-model="summoner" /><br />
        League API Key: <input type="text" ng-model="api_key" /><br />
        <input type="submit" ng-click="queryForSummonerMatches(summoner)" value="Query Ranked Matches" />
    </div>
    <div>
        <div ng-repeat="champ in champ_summary | toArray | orderBy : '-times_played'">
            <img style="height: 40px; width: 40px;"ng-src="{{champ.image_url}}" />
            <span ng-champ-display />
        </div>
    </div>
</div>  